@import "../../common/Style/Style.css";

.movie-section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  color: var(--font);
  font-weight: 400;
}
.section-left {
  width: 78%;
}
.movie-rating {
  padding-left: 3px;
  margin-top: 20px;
  color: var(--secondary);
  display: flex;
 
}
span {
    margin-right: 20px;
  }
.movie-title {
  font-size: 40px;
  color:var(--font);
}
.movie-plot {
  margin-top: 20px;
  line-height: 1.8rem;
  text-align: justify;
}

.movie-info > div span:first-child {
  padding: 10px 0px;
  color: var(--font);
  font-weight: 600;
  width: 100px;
  display: inline-block;
}

.movie-info > div span {
  color: var(--secondary);
}

.fa-star {
  color: #ff9e00;
}
.fa-thumbs-up {
  color: #fafafa;
}

.fa-film {
  color: rgb(191, 213, 214);
}

.fa-calendar {
  color: peachpuff;
}

.section-right {
  width: 20%;

}


/* Responsive */
@media (min-width: 768px) and (max-width: 1199.98px) { 
  .section-right {
    width: 100%;
  
  }
  .section-left {
    width: 100%;
  }
  .movie-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    color: var(--font);
    font-weight: 400;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
 }