@import '../../common/Style/Style.css';

footer {
  width: 100%;
  position: fixed;
  background: var(--secondary);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font);
  flex-direction: column;
}
