@import '../../common/Style/Style.css';



.footer {
    background: var( --secondary);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font);
    flex-direction: column;
  }
  